
 body {
    font-family: sans-serif;
    background-position: left top;
    background-image: url("gray-abstract-wireframe-technology-background_53876-101941.webp");
    background-attachment: fixed;
  }

.third-level-menu
{
    position: absolute;
    top: 0;
    right: -150px;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.third-level-menu > li
{
    height: 30px;
    background: #cccccc;
}
.third-level-menu > li:hover { background: #cccccc; }

.second-level-menu
{
    position: absolute;
    top: 30px;
    left: 0;
    width: 150px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
}

.second-level-menu > li
{
    position: relative;
    height: 30px;
    background: #cccccc;
}
.second-level-menu > li:hover { background: #cccccc; }

.top-level-menu
{
    list-style: none;
    padding: 0;
    margin: 0;
}

.top-level-menu > li
{
    position: relative;
    float: left;
    height: 30px;
    width: 150px;
    background:  #cccccc;;
}
.top-level-menu > li:hover { background: #cccccc; }

.top-level-menu li:hover > ul
{
    /* On hover, display the next level's menu */
    display: inline;
}


/* Menu Link Styles */

.top-level-menu a /* Apply to all links inside the multi-level menu */
{
    font: bold 14px Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    text-decoration: none;
    padding: 0 0 0 10px;

    /* Make the link cover the entire list item-container */
    display: block;
    line-height: 30px;
}
.top-level-menu a:hover { color: #aaaa; }

fieldset
{
  background-color:#cccccc;
  max-width:500px;
  padding:16px;	
  margin:auto;
}
.legend1
{
  margin-bottom:0px;
  margin-left:16px;
}



div.alles {
    text-align: center;
  }
  
  ul.dropdown {
    display: inline-block;
    text-align: left;
  }
  

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(87, 87, 87);
    color: white;
    text-align: center;
  }

/* hiermee kan ik dmv een div afbeeldingen naar rechts link of centreren */
  div {  
    border: 2px solid rgb(0, 0, 0);
    }
    img{
    height: 250px;
    width: 250px;
    }
   #left {  
    text-align: left;
    }
    #center {  
    text-align: center;
    }
    #right{  
    text-align: right;
    }